<div class='d-flex flex-column align-items-center' *ngIf='reacts != undefined'>
    <h2>Add New Reaction</h2>
    <div class='d-flex flex-column m-2'>
        <div class='form-inline' [formGroup]='addReactionForm'>
            <div class='input-group mr-3'>
                <label for='addReaction-phrase' class='mr-3'>Phrase</label>
                <input class='form-control' id='addReaction-phrase' formControlName='phrase' required>
            </div>
            <div class='mr-3' style='display: flex; flex-direction: column;'>
                <div class='input-group'>
                    <label for='addReaction-type' class='mr-3'>Type</label>
                    <select class='form-control' id='addReaction-type' formControlName='type'>
                        <option *ngFor='let type of typeOptions' [value]='type'>{{type.toString()}}</option>
                    </select>
                </div>
                <div class='input-group mt-1' *ngIf='showAuthor'>
                    <label for='addReaction-authorId' class='mr-3'>Author</label>
                    <input class='form-control' id='addReaction-authorId' formControlName='authorId' required>
                </div>
            </div>
            <div class='input-group mr-3'>
                <label for='addReaction-emoji' class='mr-3'>Emoji</label>
                <input class='form-control' id='addReaction-emoji' formControlName='emoji' required>
            </div>
            <div>
                <button type='button' class='btn btn-success mb-1' (click)='addAutoReact()' [disabled]='!addReactionForm.dirty || !formValid'>Submit</button>
            </div>
        </div>
    </div>
    <hr class='w-100 m-3' [ngClass]="{'bg-light': !lightMode}">
    <h2>Existing Reactions</h2>
    <table class='table' [ngClass]="{'table-dark': !lightMode}">
        <thead>
            <th>Phrase</th>
            <th>Type</th>
            <th>Responses</th>
        </thead>
        <tbody>
            <app-reaction *ngFor='let react of reacts' [autoReact]='react' (deleteReaction)='removeReact($event)' (updateEmoji)='updateEmoji($event)' (replaceReaction)='replaceReact($event)'></app-reaction>
        </tbody>
    </table>
</div>
<div class='d-flex justify-content-center align-items-center' *ngIf='reacts == undefined'>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
