<app-filterable-container [loaded]='loaded'>
    <div filters class='filters'>
        <div class='add-button'>
            <button tuiIconButton icon='tuiIconPlusLarge' (click)='openDialog()' title='Add new response'></button>
        </div>
        <tui-input [(ngModel)]='filter.description' icon='tuiIconSearchLarge' iconAlign='left' [tuiTextfieldCleaner]='true'>Search</tui-input>
        <tui-multi-select [(ngModel)]='filter.types' [editable]='false' [expandable]='false' [valueContent]='selectContent'>
            Types
            <tui-data-list *tuiDataList>
                <tui-opt-group tuiMultiSelectGroup>
                    <button *ngFor='let option of typeOptions' tuiOption [value]='option'>{{typeForDisplay(option)}}</button>
                </tui-opt-group>
            </tui-data-list>
        </tui-multi-select>
        <button tuiIconButton appearance='secondary' icon='tuiIconClearFormatLarge' (click)='clearFilters()' title='Reset filters'></button>
    </div>

    <app-response *ngFor='let response of filteredResponses' [response]='response'></app-response>
</app-filterable-container>