/* You can add global styles to this file, and also import other style files */
html {
    background-color: var(--tui-base-01);
}

@mixin vertical-padding($amount) {
    padding-top: $amount;
    padding-bottom: $amount;
}

@mixin sticky($side) {
    position: fixed;
    z-index: 999;
    @if $side == top {
        top: 0;
    }
    @if $side == bottom {
        bottom: 0;
    }
    @if $side == left {
        left: 0;
    }
    @if $side == right {
        right: 0;
    }
}
