@import '../../../styles.scss';
@import "~@taiga-ui/core/styles/taiga-ui-local";

.dialog-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--tui-base-02);
    margin: -32px;
    margin-bottom: 16px;
    @include horizontal-padding(32px);
    border-radius: 1rem 1rem 0rem 0rem;
}

.header-group {
    display: flex;
    align-items: center;
    margin-right: -16px;

    fa-icon {
        padding: 4px;
        margin-right: 8px;
        border-radius: 50%;
        border: 3px solid var(--tui-text-01);
    }
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;

    label {
        width: 250px;
        margin-bottom: 8px;

        tui-text-area, tui-select {
            margin-bottom: 4px;
        }
    }
}

.type {
    height: fit-content;
}

.label {
    color: var(--tui-text-02);
    display: flex;
    align-items: center;

    button {
        height: 32px;
    }
}