<div class='dialog-header'>
    <div class='header-group'>
        <fa-icon [icon]='strongIcon' size='lg' *ngIf='isStrong' title='Strong Response'></fa-icon>
        <fa-icon [icon]='timeIcon' size='lg' *ngIf='isTimeBased' title='Time-Based Response'></fa-icon>
        <fa-icon [icon]='regexIcon' size='lg' *ngIf='isRegex' title='Regex Response'></fa-icon>
        <h3>{{ context.data != null ? context.data.description : 'New Response' }}</h3>
    </div>
    <div class='header-group'>
        <button tuiIconButton *ngIf='form.disabled && isEdit && !(loading || deleting)' appearance='icon' icon='tuiIconEditLarge' (click)='edit()' title='Edit response'></button>
        <tui-loader *ngIf='form.enabled || loading' [showLoader]='loading'>
            <button tuiButton [disabled]='!canSave' (click)='save()' size='s'>Save</button>
        </tui-loader>
        <tui-loader *ngIf='isEdit && form.disabled && !loading' [showLoader]='deleting'>
            <button tuiIconButton [disabled]='deleting' appearance='icon' icon='tuiIconTrashLarge' (click)='deleteResponse()' title='Delete response'></button>
        </tui-loader>
        <button tuiIconButton appearance='icon' icon='tuiIconCloseLarge' (click)='close()' title='Close'></button>
    </div>
</div>
<form [formGroup]='form'>
    <label tuiLabel label='Description - Coming Soon'>
        <tui-input formControlName='description' [tuiTextfieldLabelOutside]='true'></tui-input>
    </label>
    <label tuiLabel [label]='isRegex ? "Pattern" : "Phrase"'>
        <tui-input required formControlName='phrase' [tuiTextfieldLabelOutside]='true'></tui-input>
    </label>
    <label tuiLabel [label]='typeLabel' class='type'>
        <tui-select formControlName='type' [tuiTextfieldLabelOutside]='true' (ngModelChange)='typeChanged()' [valueContent]='typeForDisplay(form.controls["type"].value)'>
            Types
            <tui-data-list *tuiDataList>
                <tui-opt-group tuiSelectGroup>
                    <button *ngFor='let option of typeOptions' tuiOption [value]='option'>{{ typeForDisplay(option) }}</button>
                </tui-opt-group>
            </tui-data-list>
        </tui-select>
        <tui-input *ngIf='isTimeBased' [required]='isTimeBased' formControlName='timeSchedule'>Cron Schedule</tui-input>
    </label>
    <ng-template #typeLabel>
        <div class='label'>
            Type
            <tui-tooltip direction='top-right' *ngIf='isTimeBased' [content]='timeTooltip'></tui-tooltip>
            <ng-template #timeTooltip>
                <div>
                    Time-based responses use <a href='https://en.wikipedia.org/wiki/Cron'>cron expressions</a> to represent when a response matches.
                    Tools such as <a href='https://crontab.guru/'>Crontab.Guru</a> are useful for understanding how these work.
                </div>
                <div>Yes/No responses must have exactly two response options, for when the cron expression does or doesn't match.</div>
            </ng-template>
            <tui-tooltip direction='top-right' *ngIf='isRegex' [content]='regexTooltip'></tui-tooltip>
            <ng-template #regexTooltip>
                <div>Regex responses use <a href='https://en.wikipedia.org/wiki/Regular_expression'>regular expressions</a> to match responses. Use <a href='https://regex101.com/'>Regex101</a> for assistance.</div>
                <div>Matching groups are available for use in responses in the order they appear - {{'{0}'}}, {{'{1}'}}, etc</div>
            </ng-template>
            <tui-tooltip direction='top-right' *ngIf='isStrong' [content]='strongTooltip'></tui-tooltip>
            <ng-template #strongTooltip>
                <div>Strong responses match only whole words.</div>
                <div>Ex: phrase: 'test' -> 'the test' matches, 'testing' doesn't</div>
            </ng-template>
            <tui-tooltip direction='top-right' *ngIf='!(isTimeBased || isRegex || isStrong)' [content]='weakTooltip'></tui-tooltip>
            <ng-template #weakTooltip>Weak responses match any message that contains the activation phrase.</ng-template>
        </div>
    </ng-template>
    <label tuiLabel [label]='responseLabel' formArrayName='responses'>
        <tui-text-area required *ngFor='let res of responsesControl.controls; let i = index' [formControlName]='i'
            [tuiTextfieldLabelOutside]='true' [tuiTextfieldCleaner]='true' (ngModelChange)='responseChanged($event, i)' tuiTextfieldSize='m'></tui-text-area>
    </label>
    <ng-template #responseLabel>
        <div class='label'>
            Responses
            <button tuiIconButton appearance='icon' icon='tuiIconPlus' (click)='addResponse()' *ngIf='form.enabled'></button>
        </div>
    </ng-template>
</form>
