<a tuiIsland class='card' [hoverable]='true' (click)='openDialog()'>
    <h3 class='tui-island__title'>
        <fa-icon [icon]='strongIcon' size='sm' *ngIf='isStrong' title='Strong Response'></fa-icon>
        <fa-icon [icon]='timeIcon' size='sm' *ngIf='isTimeBased' title='Time-Based Response'></fa-icon>
        <fa-icon [icon]='regexIcon' size='sm' *ngIf='isRegex' title='Regex Response'></fa-icon>
        {{ response.description }}
    </h3>
    <p class='tui-island__paragraph'>
        <span *ngIf='response.type == "Regex"'>
            <b>Pattern:</b> {{ response.phrase }} <br>    
        </span>
        <span *ngIf='response.type != "Regex"'>
            <b>Phrase:</b> {{ response.phrase }} <br>    
        </span>
        <b>Type:</b> {{ typeDisplay }} <br>
        <span *ngIf='response.timeSchedule != null'>
            <b>Schedule:</b> {{ response.timeSchedule }} <br>
        </span>
        <span>
            <b>Response:</b> {{ responseDisplay }}
        </span>
    </p>
</a>
